body {
  background-color: rgb(63, 56, 250);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-conteiner{
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 414px;
}

.game-box {
  background-color: rgb(4, 125, 38);
  height: 100px;
  width: 100px;
  border: 2px solid rgb(248, 183, 183);
}
